<div ui-content-for="title">
    Restaurants
</div>
<div class="scrollable">
    <!--div class="scrollable-header">
        header
    </div-->
    <div class="scrollable-content">
        <div class="list-group text-left">
            <div class="list-group-item list-group-item-home">
                <input type="text" placeholder="Name"/>
            </div>
            <div class="list-group-item list-group-item-home">
                <button type="submit" ng-click="save()">Add</button>
            </div>
        </div>
    </div>
</div>
