<div class="scrollable">
    <!--div class="scrollable-header">
        header
    </div-->
    <div class="scrollable-content">
        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h1>Gigastic</h1>
            </div>
            <div class="list-group-item list-group-item-home">
                <a href="#/restaurants"><img src="bundles/app/dash/restaurants.jpg"/></a>
            </div>
            <div class="list-group-item list-group-item-home">
                <a href="#/places"><img src="bundles/app/dash/places.jpg"/></a>
            </div>
            <div class="list-group-item list-group-item-home">
                <a href="#/events"><img src="bundles/app/dash/events.jpg"/></a>
            </div>
            <div class="list-group-item list-group-item-home">
                <a href="#/recipes"><img src="bundles/app/dash/recipes.jpg"/></a>
            </div>
        </div>
    </div>
</div>
